.login-index {
  height: 100vh;
  background-image: linear-gradient(to bottom, #E2ECFD, #fff, #fff);
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  padding-bottom: env(safe-area-inset-bottom);
  &.regist-index {
    padding-top: 10vh;
  }
  .page-body {
    flex: 1;
    overflow: hidden;
    padding: 0 70rpx;
  }
  .page-footer {
    padding: 20rpx 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .logo {
    background-color: rgba(255,255,255,.5);
    width: 220rpx;
    height: 220rpx;
    border-radius: 100rpx;
    box-shadow: 0 4rpx 24rpx 0 rgba(0, 0, 0, 0.05);
    margin: 0 auto;
  }
  .welcome-title {
    text-align: center;
    font-size: 36rpx;
    font-weight: bold;
    margin: 70rpx 0;
  }
  .form-btns {
    margin-top: 50rpx;
    text-align: center;
    .form-btn {
      height: 60rpx;
      border-radius: 30rpx;
      font-size: 32rpx;
      color: $theme-primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20rpx;
      &.is-primary {
        height: 110rpx;
        border-radius: 55rpx;
        font-size: 36rpx;
        background-color: $theme-primary-color;
        color: #fff;
      }
    }
  }
  
}