
$theme-primary-color: #3c9cff;
$theme-primary-disabled-color: #a0cfff;
$theme-primary-light-color: #ecf5ff;
$theme-primary-dark-color: #2b85e4;

$theme-info-color: #909399;
$theme-info-disabled-color: #c8c9cc;
$theme-info-light-color: #f4f4f5;
$theme-info-dark-color: #82848a;

$theme-success-color: #19be6b;
$theme-success-disabled-color: #71d5a1;
$theme-success-light-color: #dbf1e1;
$theme-success-dark-color: #18b566;

$theme-warning-color: #ff9900;
$theme-warning-disabled-color: #fcbd71;
$theme-warning-light-color: #fdf6ec;
$theme-warning-dark-color: #f29100;

$theme-error-color: #fa3534;
$theme-error-disabled-color: #fab6b6;
$theme-error-light-color: #fef0f0;
$theme-error-dark-color: #dd6161;

$theme-bg-color: #f3f4f6;

$theme-font-color: #303133;
$theme-font-content-color: #606266;
$theme-font-tips-color: #909193;
$theme-disabled-color: #c8c9cc;

$theme-border-color: #e4e7ed;